[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
"psycopg2-binary" = "*"
django-dotenv = "==1.4.2"
requests = "==2.22.0"

[dev-packages]
"flake8" = "==3.7.9"
black = "==19.10b0"

[requires]
python_version = "3.9"
