{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}
{% block search_bar %}
{% endblock search_bar %}
{% block content %}
    <h2>
        Search!
    </h2>
    {% comment %} <h4>
        Searching by {{city}}
    </h4> {% endcomment %}
    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>

    <h3>Results</h3>

    {% for room in rooms %}
        <h3>{{room.name}} {{room.id}}</h3>
    {% endfor %}
{% endblock content %}
